<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEU - Attendance</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
{%block head%}{%endblock%}
</head>
    <body>
        <div class="top-bar">
            <h1 id="top-text" class="orange-el" > |</h1>
            <a href="/"><img src="{{ url_for('static',filename='assets/geu.png') }}" class="logo"></a>
            <h1 id="top-text" class="orange-el"> |</h1>
        </div>
{%block body%}{%endblock%}
</body>
</html>
